@media (max-width: 550px) {
  .title {
    margin-bottom: 30px;
  }
  .title h1 {
    font-size: 42px;
    line-height: 52px;
  }
  .carta {
    margin: 30px 0;
  }
  .tabuleiro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 30px 0 0 0;
  }
  .relogio_container {
    top: 80px;
    right: 16px;
  }

  body {
    margin: 0 16px;
  }
}

@media (max-width: 638px) and (min-width: 551px) {
  .title {
    margin-bottom: 60px;
  }
  .relogio_container {
    top: 90px;
    right: 38px;
  }
}
