body {
  background-color: #eef9bf;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 63px;
  position: relative;
}

.title h1 {
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  line-height: 65.63px;
  font-weight: 700;
  color: #75b79e;
  font-style: normal;
  letter-spacing: 0.005em;
}

.tabuleiro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin-bottom: 30px;
}

.carta {
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  border: 2px solid #99cea8;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  margin: 0 20px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 1s;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

.carta img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 24px;
  left: 10px;
  opacity: 0;
}

.carta img:nth-child(2) {
  width: 80px;
  height: 80px;
  top: 32px;
  left: 20px;
}

.frente img:nth-child(1) {
  opacity: 1;
}

.verso img:nth-child(2) {
  opacity: 1;
}

.virada {
  transform: rotateY(180deg);
}

.inclicavel {
  pointer-events: none;
}

.relogio_container {
  width: 60px;
  height: 30px;
  background-color: #a7e9af;
  border: 2px solid #99cea8;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 62px;
  right: 85px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 5;
  font-family: Roboto;
  font-weight: 500;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

.contador {
  display: flex;
}
